elevau-.json
{
  "updatedAt": "2026-02-10T10:37:09.038Z",
  "createdAt": "2026-02-06T04:17:21.853Z",
  "id": "COAKXBBGZ5EsAnY8",
  "name": "ElevaU",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 10
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "5bc11096-b935-4996-b3c1-060d3e433982",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://api.hackertarget.com/dnslookup/?q=elevau.id&output=json",
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        208,
        0
      ],
      "id": "a91ed74e-e37f-4c61-bcc4-f3cfbd093b8f",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "cef4b15c-e0b2-45c4-bac4-69a74987d3f8",
              "leftValue": "={{ $json.NS }}.toString()",
              "rightValue": "cloudflare.com",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        416,
        0
      ],
      "id": "bc49c830-665f-4f46-8ee6-86a3bbfe61ec",
      "name": "If"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://16.79.36.36:5000/webhook",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n    \"nameservers\": [\n        \"ashley.ns.cloudflare.com\",\n        \"yadiel.ns.cloudflare.com\"\n    ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        640,
        96
      ],
      "id": "e2ef5fd1-02cc-4156-a590-869305f105c4",
      "name": "HTTP Request1"
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [],
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": null,
  "pinData": {},
  "versionId": "68c6fcf1-ec99-4d34-8f74-2733d5f055c1",
  "activeVersionId": "68c6fcf1-ec99-4d34-8f74-2733d5f055c1",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-02-06T04:17:21.853Z",
      "createdAt": "2026-02-06T04:17:21.853Z",
      "role": "workflow:owner",
      "workflowId": "COAKXBBGZ5EsAnY8",
      "projectId": "3vieiS9Ecmyflq5d"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-02-10T10:37:11.403Z",
    "createdAt": "2026-02-10T10:37:09.040Z",
    "versionId": "68c6fcf1-ec99-4d34-8f74-2733d5f055c1",
    "workflowId": "COAKXBBGZ5EsAnY8",
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "minutes",
                "minutesInterval": 10
              }
            ]
          }
        },
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.3,
        "position": [
          0,
          0
        ],
        "id": "5bc11096-b935-4996-b3c1-060d3e433982",
        "name": "Schedule Trigger"
      },
      {
        "parameters": {
          "url": "https://api.hackertarget.com/dnslookup/?q=elevau.id&output=json",
          "options": {
            "allowUnauthorizedCerts": true
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          208,
          0
        ],
        "id": "a91ed74e-e37f-4c61-bcc4-f3cfbd093b8f",
        "name": "HTTP Request"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "cef4b15c-e0b2-45c4-bac4-69a74987d3f8",
                "leftValue": "={{ $json.NS }}.toString()",
                "rightValue": "cloudflare.com",
                "operator": {
                  "type": "string",
                  "operation": "contains"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          416,
          0
        ],
        "id": "bc49c830-665f-4f46-8ee6-86a3bbfe61ec",
        "name": "If"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "http://16.79.36.36:5000/webhook",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "{\n    \"nameservers\": [\n        \"ashley.ns.cloudflare.com\",\n        \"yadiel.ns.cloudflare.com\"\n    ]\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          640,
          96
        ],
        "id": "e2ef5fd1-02cc-4156-a590-869305f105c4",
        "name": "HTTP Request1"
      }
    ],
    "connections": {
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "HTTP Request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request": {
        "main": [
          [
            {
              "node": "If",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If": {
        "main": [
          [],
          [
            {
              "node": "HTTP Request1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Aldo Dwi Kristian",
    "name": "Version 68c6fcf1",
    "description": "",
    "autosaved": false
  },
  "tags": []
}