wpberita---oncloud.web.id-WPBerita.json
{
  "updatedAt": "2026-01-12T12:19:15.209Z",
  "createdAt": "2026-01-08T07:32:13.162Z",
  "id": "4Jb4gJVOz2SZiuhd",
  "name": "WPBerita - oncloud.web.id",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "articles",
        "limit": 1,
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "status_oncloud",
              "condition": "is",
              "keyValue": "null"
            },
            {
              "keyName": "content",
              "condition": "gt",
              "keyValue": "1"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -832,
        0
      ],
      "id": "528944f7-4065-4999-a5e7-8bd5195fd32f",
      "name": "Supabase - Get Content",
      "credentials": {
        "supabaseApi": {
          "id": "igjKz98zuDgw9hbk",
          "name": "Supabase - Tugasin - Gloriap"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get the response from HTTP Request\nconst response = $input.item.json;\n\n// Extract the content string from the response\nconst contentString = response.choices[0].message.content;\n\n// Parse the JSON string into an object\nconst rewrittenData = JSON.parse(contentString);\n\n// Function to capitalize each word while preserving all-caps words\nfunction capitalizeTag(tag) {\n  return tag.trim().split(' ').map(word => {\n    // If word is all uppercase (like SPBU, BBM), keep it as is\n    if (word === word.toUpperCase() && word.length > 1) {\n      return word;\n    }\n    // Otherwise capitalize first letter only\n    return word.charAt(0).toUpperCase() + word.slice(1).toLowerCase();\n  }).join(' ');\n}\n\n// Process tags if they exist\nlet processedTags = null;\nif (rewrittenData.tags) {\n  processedTags = rewrittenData.tags\n    .split(',')\n    .map(tag => capitalizeTag(tag))\n    .join(', ');\n}\n\n// Return the parsed data\nreturn {\n  json: {\n    rewritten_title: rewrittenData.title,\n    rewritten_summary: rewrittenData.summary,\n    rewritten_content: rewrittenData.content,\n    rewritten_tags: processedTags\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        464,
        16
      ],
      "id": "c0cf0d5f-0d2c-4b1c-8445-1c7c1484dd57",
      "name": "Extract Response"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://oncloud.web.id/wp-json/wp/v2/posts",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"title\": {{ JSON.stringify($('Extract Response').first().json.rewritten_title) }},\n  \"content\": {{ JSON.stringify($('Extract Response').first().json.rewritten_content) }},\n  \"excerpt\": {{ JSON.stringify($('Extract Response').first().json.rewritten_summary) }},\n  \"status\": \"publish\",\n  \"comment_status\": \"open\",\n  \"ping_status\": \"open\",\n\n  \"categories\": {{ JSON.stringify([$('Code - WP Category & Tags').first().json.category_id]) }},\n  \"tags\": {{ JSON.stringify($('Code - WP Category & Tags').first().json.tag_ids) }},\n\n\n  \"meta\": {\n    \"fifu_image_url\": {{ JSON.stringify($('Supabase - Get Content').first().json.images || '') }},\n    \"rank_math_primary_category\": {{ $('Code - WP Category & Tags').first().json.category_id }},\n    \"rank_math_focus_keyword\": {{ JSON.stringify($('Extract Response').first().json.rewritten_tags.split(', ')[0].trim()) }},\n    \"kia_subtitle\": {{ JSON.stringify($('Extract Response').first().json.rewritten_summary) }},\n    \"_durh\": 0,\n    \"_durm\": 0,\n    \"_durs\": 0\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        768,
        160
      ],
      "id": "78980228-4ba7-4d5a-8a81-57e533c6d2cc",
      "name": "Webhook to WP",
      "executeOnce": true,
      "credentials": {
        "httpBasicAuth": {
          "id": "BjA4HE0eWNvyw2DV",
          "name": "WP - oncloud.web.id"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "bd2b9c42-b27e-401a-b4e7-18ea44fc5c55",
              "leftValue": "={{ $json[0]?.id !== undefined }}",
              "rightValue": "=false",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        992,
        160
      ],
      "id": "48f8d390-e9c1-44c6-8c2c-63dde8c5b9b7",
      "name": "If"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.mistral.ai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('NocoDB - Get Mistral API').item.json.api_key }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"mistral-large-latest\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Anda adalah jurnalis senior dan penulis konten profesional dengan 15 tahun pengalaman di media berita Indonesia. Keahlian Anda adalah menulis ulang konten berita dengan gaya semi-formal yang tetap profesional, mudah dibaca, dan menarik bagi pembaca berita online Indonesia. Anda juga ahli dalam mengidentifikasi tema dan topik utama untuk membuat tag yang relevan.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Tulis ulang konten berita di bawah ini dengan mengikuti pedoman berikut:\\n\\nPEDOMAN PENULISAN:\\n- Bahasa: Bahasa Indonesia\\n- Gaya: Semi-formal, profesional, jurnalistik\\n- Pertahankan semua fakta, data, kutipan, dan konteks dari artikel asli\\n- JANGAN tambahkan opini, informasi baru, atau spekulasi\\n- Panjang konten: minimal sama dengan aslinya, boleh sedikit lebih panjang untuk kejelasan\\n- Tingkatkan alur cerita dan keterbacaan\\n- Gunakan variasi struktur kalimat yang natural\\n- Hindari pengulangan kata atau frasa yang tidak perlu\\n- Buat artikel engaging untuk audiens berita online Indonesia\\n\\nPEDOMAN TAG:\\n- Generate 1-5 tag berdasarkan konten yang sudah ditulis ulang\\n- Tag harus merepresentasikan tema, topik, atau kata kunci utama dari artikel\\n- Gunakan Bahasa Indonesia\\n- Format: kata atau frasa pendek, dipisahkan koma\\n- Contoh tag yang baik: \\\"ekonomi digital\\\", \\\"pemilu 2024\\\", \\\"teknologi\\\", \\\"kesehatan\\\"\\n\\nINPUT:\\nJudul:\\n{{ JSON.stringify($('Supabase - Get Content').item.json.title).slice(1, -1) }}\\n\\nRingkasan:\\n{{ JSON.stringify($('Supabase - Get Content').item.json.summary).slice(1, -1) }}\\n\\nKonten:\\n{{ JSON.stringify($('Supabase - Get Content').item.json.content).slice(1, -1) }}\\n\\nOUTPUT:\\nKembalikan HANYA dalam format JSON yang valid tanpa teks tambahan:\\n{\\n  \\\"title\\\": \\\"judul yang ditulis ulang\\\",\\n  \\\"summary\\\": \\\"ringkasan yang ditulis ulang\\\",\\n  \\\"content\\\": \\\"konten lengkap yang ditulis ulang\\\",\\n  \\\"tags\\\": \\\"tag1, tag2, tag3\\\"\\n}\"\n    }\n  ],\n  \"response_format\": {\n    \"type\": \"json_object\"\n  },\n  \"temperature\": 0.7,\n  \"top_p\": 0.9,\n  \"max_tokens\": 4096,\n  \"frequency_penalty\": 0.3\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        240,
        16
      ],
      "id": "c1998e7a-c210-4b1c-9dec-8a453a71209f",
      "name": "Mistral - Rewrite Content"
    },
    {
      "parameters": {
        "content": "\n## Retrive Information from WP",
        "height": 544,
        "width": 1360
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        688,
        -400
      ],
      "typeVersion": 1,
      "id": "03c1f0e6-a338-4bc8-aad5-5d27e273e64c",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "url": "https://oncloud.web.id/wp-json/wp/v2/categories",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        768,
        -320
      ],
      "id": "bb7ef36c-614c-4633-80cf-f64d5b04707e",
      "name": "WP - Get Categories",
      "credentials": {
        "httpBasicAuth": {
          "id": "BjA4HE0eWNvyw2DV",
          "name": "WP - oncloud.web.id"
        }
      }
    },
    {
      "parameters": {
        "url": "https://oncloud.web.id/wp-json/wp/v2/tags",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        992,
        -320
      ],
      "id": "6aebe669-bd63-41cd-ae67-43ccaa2d1f41",
      "name": "WP - Get Tags",
      "credentials": {
        "httpBasicAuth": {
          "id": "BjA4HE0eWNvyw2DV",
          "name": "WP - oncloud.web.id"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.mistral.ai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('NocoDB - Get Mistral API').item.json.api_key }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"mistral-large-latest\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Anda adalah AI classifier yang ahli dalam menganalisis konten berita dan mencocokkannya dengan kategori dan tag yang paling relevan. Tugas Anda adalah menganalisis konten berita dan memilih kategori serta tag yang paling sesuai dari daftar yang tersedia, atau menyarankan pembuatan yang baru jika tidak ada yang cocok.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": {{ JSON.stringify(\"Analisis konten berita berikut dan tentukan kategori dan tag yang paling relevan:\\n\\nKONTEN BERITA:\\nJudul:\\n\" + JSON.stringify($('Extract Response').item.json.rewritten_title).slice(1, -1) + \"\\n\\nRingkasan:\\n\" + JSON.stringify($('Extract Response').item.json.rewritten_summary).slice(1, -1) + \"\\n\\nKonten:\\n\" + JSON.stringify($('Extract Response').item.json.rewritten_content).slice(1, -1) + \"\\n\\nKATEGORI YANG TERSEDIA:\\n\" + JSON.stringify($('WP - Get Categories').all().map(item => ({id: item.json.id, name: item.json.name}))) + \"\\n\\nTAG YANG TERSEDIA:\\n\" + JSON.stringify($('WP - Get Tags').all().map(item => ({id: item.json.id, name: item.json.name}))) + \"\\n\\nINSTRUKSI:\\n1. Pilih SATU kategori yang paling sesuai dengan konten\\n   - Jika ada kategori yang cocok, gunakan yang sudah ada\\n   - Jika tidak ada yang cocok, suggest nama kategori baru\\n\\n2. Pilih 3-5 tag yang paling relevan\\n   - Prioritaskan tag yang sudah ada jika sesuai\\n   - Jika tag yang dibutuhkan tidak ada, suggest nama tag baru\\n   - Campuran tag existing dan baru diperbolehkan\\n\\n3. Format output harus JSON dengan struktur:\\n   - category: {id: number (atau null jika baru), name: string, exists: boolean}\\n   - tags: array of {id: number (atau null jika baru), name: string, exists: boolean}\\n\\nOUTPUT:\\nKembalikan HANYA dalam format JSON yang valid tanpa teks tambahan:\\n{\\n  \\\"category\\\": {\\n    \\\"id\\\": 35,\\n    \\\"name\\\": \\\"Berita\\\",\\n    \\\"exists\\\": true\\n  },\\n  \\\"tags\\\": [\\n    {\\n      \\\"id\\\": 72,\\n      \\\"name\\\": \\\"Anies\\\",\\n      \\\"exists\\\": true\\n    },\\n    {\\n      \\\"id\\\": null,\\n      \\\"name\\\": \\\"Pemilu Jakarta\\\",\\n      \\\"exists\\\": false\\n    }\\n  ]\\n}\") }}\n    }\n  ],\n  \"response_format\": {\n    \"type\": \"json_object\"\n  },\n  \"temperature\": 0.3,\n  \"top_p\": 0.9,\n  \"max_tokens\": 10000\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1200,
        -320
      ],
      "id": "2ce03dbb-8d71-4db4-98d6-47aa192e910c",
      "name": "Mistral - Classify",
      "executeOnce": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://oncloud.web.id/wp-json/wp/v2/categories",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"name\": \"{{ $('Code - Category to Create').item.json.name}}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        768,
        -96
      ],
      "id": "67af06b5-b537-4f17-8ae0-41ef7bcfd6d8",
      "name": "WP - Post Categories",
      "credentials": {
        "httpBasicAuth": {
          "id": "BjA4HE0eWNvyw2DV",
          "name": "WP - oncloud.web.id"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://oncloud.web.id/wp-json/wp/v2/tags",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"name\": \"{{ $('Code - Tags to Create').item.json.name}}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        992,
        -96
      ],
      "id": "c249fac9-28c6-4da2-963d-4ae8d6aee930",
      "name": "WP - Post Tags",
      "credentials": {
        "httpBasicAuth": {
          "id": "BjA4HE0eWNvyw2DV",
          "name": "WP - oncloud.web.id"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Get the response from HTTP Request (Mistral - Classify)\nconst response = $input.item.json;\n\n// Extract the JSON string from Mistral response\nconst contentString = response.choices[0].message.content;\n\n// Parse it into an object\nconst extractedJson = JSON.parse(contentString);\n\n// Return original data only\nreturn {\n  json: extractedJson\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1392,
        -320
      ],
      "id": "29eab6b3-0fbf-4292-9bd7-b9942aaf8f55",
      "name": "Extract - Classify's Response"
    },
    {
      "parameters": {
        "jsCode": "const items = $('Extract - Classify\\'s Response').all();\n\nreturn items.flatMap(item =>\n  (item.json.tags || [])\n    .filter(tag => tag.exists === false)\n    .map(tag => ({\n      json: { name: tag.name }\n    }))\n);"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1648,
        -224
      ],
      "id": "ab92ad4f-b7b2-41d9-a430-e562da1a2e8e",
      "name": "Code - Tags to Create"
    },
    {
      "parameters": {
        "jsCode": "const data = $('Extract - Classify\\'s Response').item.json;\n\nif (data.category && data.category.exists === false) {\n  return [\n    {\n      json: {\n        name: data.category.name\n      }\n    }\n  ];\n}\n\nreturn [];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1648,
        -384
      ],
      "id": "be272a28-1be5-4c64-951c-646f25037ee4",
      "name": "Code - Category to Create",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1888,
        -320
      ],
      "id": "d8028a83-66ff-40c8-bd66-9dd53063f6b9",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "// 1. Base classification (from Mistral)\nconst classification = $('Extract - Classify\\'s Response').all()[0].json;\n\n// 2. Existing WP terms\nconst wpTags = $('WP - Get Tags').all().map(i => i.json);\nconst wpCategories = $('WP - Get Categories').all().map(i => i.json);\n\n// 3. Created term responses (success + error)\nconst createdTerms = $input.all().map(i => i.json);\n\n// ---------- CATEGORY ----------\nlet categoryId = classification.category.id;\n\nif (!categoryId) {\n  // try from created responses\n  const createdCat = createdTerms.find(t => t.taxonomy === 'category');\n  if (createdCat?.id) {\n    categoryId = createdCat.id;\n  } else {\n    // fallback lookup\n    const found = wpCategories.find(\n      c => c.name.toLowerCase() === classification.category.name.toLowerCase()\n    );\n    if (found) categoryId = found.id;\n  }\n}\n\n// ---------- TAGS ----------\nconst tagIds = [];\n\nfor (const tag of classification.tags) {\n  if (tag.id) {\n    // already existed\n    tagIds.push(tag.id);\n    continue;\n  }\n\n  // 1. created successfully\n  const created = createdTerms.find(\n    t => t.name?.toLowerCase() === tag.name.toLowerCase()\n  );\n  if (created?.id) {\n    tagIds.push(created.id);\n    continue;\n  }\n\n  // 2. term_exists error → extract term_id\n  const errorItem = createdTerms.find(\n    t => t.error?.message?.includes(tag.name)\n  );\n  if (errorItem?.error?.message) {\n    const match = errorItem.error.message.match(/\"term_id\":(\\d+)/);\n    if (match) {\n      tagIds.push(Number(match[1]));\n      continue;\n    }\n  }\n\n  // 3. fallback lookup from WP\n  const found = wpTags.find(\n    t => t.name.toLowerCase() === tag.name.toLowerCase()\n  );\n  if (found) tagIds.push(found.id);\n}\n\nreturn {\n  json: {\n    category_id: categoryId,\n    tag_ids: [...new Set(tagIds)] // dedupe\n  }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        -96
      ],
      "id": "ff69a5cd-ceea-4c46-ad8b-e93556a9927b",
      "name": "Code - WP Category & Tags"
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "getAll",
        "workspaceId": "waadn311",
        "projectId": "p68phguw93f2c54",
        "table": "mlgtgl4ltfcf8d8",
        "limit": 1,
        "options": {
          "where": "=(expired_date,is,null)~or(expired_date,gt,{{ $now.format('yyyy-MM-dd HH:mm:ss') }})"
        }
      },
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 3,
      "position": [
        -448,
        0
      ],
      "id": "5c4c4fec-4939-4d27-aa34-d6a4757f8c92",
      "name": "NocoDB - Get Mistral API",
      "credentials": {
        "nocoDbApiToken": {
          "id": "SZI7E207k4VdK4Ju",
          "name": "NocoDB - aldo@indexnow.studio"
        }
      }
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "update",
        "workspaceId": "waadn311",
        "projectId": "p68phguw93f2c54",
        "table": "mlgtgl4ltfcf8d8",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldName": "expired_date",
              "fieldValue": "={{ $now.plus(1, 'hours').format('yyyy-MM-dd HH:mm:ss') }}"
            },
            {
              "fieldName": "id",
              "fieldValue": "={{ $json.Id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 3,
      "position": [
        0,
        -64
      ],
      "id": "96eceead-c9ee-4412-98a9-ca06db295309",
      "name": "NocoDB - Update Mistral API",
      "credentials": {
        "nocoDbApiToken": {
          "id": "SZI7E207k4VdK4Ju",
          "name": "NocoDB - aldo@indexnow.studio"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "5bc9a75d-a4d4-4846-a763-472a786a5071",
              "leftValue": "={{ $json.expired_date }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -272,
        0
      ],
      "id": "45dc2f08-ca04-4c40-8a3a-c069d4153ad8",
      "name": "Filter - NocoDB"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "articles",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Supabase - Get Content').first().json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status_oncloud",
              "fieldValue": "processing"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -624,
        0
      ],
      "id": "c5f12c9a-6e03-4c37-98ce-b5de2b8ed821",
      "name": "Supabase - Update Processing",
      "credentials": {
        "supabaseApi": {
          "id": "igjKz98zuDgw9hbk",
          "name": "Supabase - Tugasin - Gloriap"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "articles",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Supabase - Get Content').first().json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status_oncloud",
              "fieldValue": "published"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1216,
        144
      ],
      "id": "909f2ed0-e758-468a-be66-3286fd975103",
      "name": "Supabase - Update Row Published",
      "credentials": {
        "supabaseApi": {
          "id": "igjKz98zuDgw9hbk",
          "name": "Supabase - Tugasin - Gloriap"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "articles",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Supabase - Get Content').first().json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status_oncloud"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1216,
        336
      ],
      "id": "546bdca9-ba16-498f-b229-2dd81bdddb08",
      "name": "Supabase - Update Row Failed",
      "credentials": {
        "supabaseApi": {
          "id": "igjKz98zuDgw9hbk",
          "name": "Supabase - Tugasin - Gloriap"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1008,
        192
      ],
      "id": "d34d381f-9cec-43f6-8cf3-eb7c19330ec8",
      "name": "When clicking ‘Execute workflow’"
    }
  ],
  "connections": {
    "Supabase - Get Content": {
      "main": [
        [
          {
            "node": "Supabase - Update Processing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Response": {
      "main": [
        [
          {
            "node": "WP - Get Categories",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook to WP": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Supabase - Update Row Published",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Supabase - Update Row Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mistral - Rewrite Content": {
      "main": [
        [
          {
            "node": "Extract Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WP - Get Categories": {
      "main": [
        [
          {
            "node": "WP - Get Tags",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WP - Get Tags": {
      "main": [
        [
          {
            "node": "Mistral - Classify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mistral - Classify": {
      "main": [
        [
          {
            "node": "Extract - Classify's Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WP - Post Categories": {
      "main": [
        [
          {
            "node": "WP - Post Tags",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract - Classify's Response": {
      "main": [
        [
          {
            "node": "Code - Category to Create",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code - Tags to Create",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Category to Create": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Tags to Create": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "WP - Post Categories",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WP - Post Tags": {
      "main": [
        [
          {
            "node": "Code - WP Category & Tags",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - WP Category & Tags": {
      "main": [
        [
          {
            "node": "Webhook to WP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NocoDB - Get Mistral API": {
      "main": [
        [
          {
            "node": "Filter - NocoDB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NocoDB - Update Mistral API": {
      "main": [
        [
          {
            "node": "Mistral - Rewrite Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter - NocoDB": {
      "main": [
        [
          {
            "node": "NocoDB - Update Mistral API",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mistral - Rewrite Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase - Update Processing": {
      "main": [
        [
          {
            "node": "NocoDB - Get Mistral API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase - Update Row Published": {
      "main": [
        []
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Supabase - Get Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "601fb05e-af3b-48fa-87c7-de30120a353e",
  "activeVersionId": null,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-01-08T07:32:13.162Z",
      "createdAt": "2026-01-08T07:32:13.162Z",
      "role": "workflow:owner",
      "workflowId": "4Jb4gJVOz2SZiuhd",
      "projectId": "3vieiS9Ecmyflq5d"
    }
  ],
  "activeVersion": null,
  "tags": [
    {
      "updatedAt": "2025-12-30T07:52:54.239Z",
      "createdAt": "2025-12-30T07:52:54.239Z",
      "id": "R7zjoxHzKNYpQFsv",
      "name": "WPBerita"
    },
    {
      "updatedAt": "2025-12-30T07:52:49.699Z",
      "createdAt": "2025-12-30T07:52:49.699Z",
      "id": "QkSJdUEgO7TATGrA",
      "name": "Glori AP"
    }
  ]
}